.cont-con .contact {
  background: #242424;
}
.contact {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 550px 450px;
  gap: 0 180px;
  top: 3000px;
  position: absolute;
  width: 100%;
  height: 675px;
  justify-content: center;
  align-items: center;
}
.con-para {
  margin: -110px 0 0 70px;
}
.con-para h2 {
  font-size: 68px;
  line-height: 88px;
  font-weight: 700;
  margin: 0 0 20px 20px;
  
}
.con-para p {
  padding: 5px;
  margin: 0 0 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: #989595;
  line-height: 28px
}
.form form {
  display: flex;  
  flex-direction: column;
  width: auto;
}
form input {
  border: none;
  border-bottom: 2px solid #845ec2;
  margin-bottom: 40px;
  font-size: 13px;
  cursor: pointer;
  background: transparent;
  outline: none;
}

form input[type='email']:invalid {
  border-bottom: 2px solid red;
}
textarea {
  border: none;
  border-bottom: 2px solid #845ec2;
  margin-bottom: 40px;
  font-size: 13px;
  cursor: pointer;
  background: transparent;
  outline: none;
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.btn-con {
  float: right;
  margin: 10px 0 0 0;
}
