.navbar h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.444444px;

}
.navbar {
  padding: 20px;
  max-width: 885px;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px dotted #333;
  align-items: center;
}
.navbar .link {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  margin-left: 10px;
  padding: 6px;
}