@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Base Style */
* {
  margin: 0;
  font-family: 'Space Grotesk';
  color:#fff;
  background: black;
}
  
.overall{
  width: 3000px;
  display: flex;
  flex-direction: row;
}

.first-sub-div{
  margin: 30px 250px 40px 0px;
}

.second-sub-div{
  margin: 30px 250px 40px 0px;
}

.third-sub-div{
  margin: 30px 100px 40px 0px;
}